.main-container .content-container {
    position: relative;
}

.main-container .content-container .content-area {
    padding-top: 0px;
}

.sidenav {
    position: relative;
    max-width: 288px;
    min-width: 240px;
}

nav > section {
    overflow: auto;
    margin-left: 12px;
    position: relative;
    height: 100%;
}

.curtain {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: white;
    opacity: 0.3;
    z-index: 2;
}

.dark-curtain {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.7;
    z-index: 3;
    text-align: center;
}
