<div class="row">
    <div class="col-lg-4 col-md-6">
        <h3>Active configurations</h3>
    </div>
    <div class="col-lg-8 col-md-6">
        <form class="search" style="padding-top: 24px">
            <label>
                <clr-icon shape="filter"></clr-icon>
                <input type="text" name="filterInput" [(ngModel)]="filter" placeholder="Filter">
            </label>
        </form>
    </div>
</div>

<div class="row" style="display: flex;">
    <div *ngFor="let path of filteredActivePaths"
         class="card bc-active-card"
         [class.bc-card-danger-blink]="isStateError(states[path])">
        <div class="card-header"
             [class.bc-card-header-success]="isStateOK(states[path])"
             [class.bc-card-header-danger]="isStateError(states[path])">
            <clr-dropdown [clrMenuPosition]="'bottom-right'" style="width: 100%" >
                <span clrDropdownToggle style="width: 100%; white-space: normal">
                    {{path}}
                    <clr-icon shape="caret down"></clr-icon>
                </span>
                <div class="dropdown-menu">
                    <config-action-menu
                        [state]="states[path]"
                        [actionRequest]="actionRequests[path]"
                        [path]="path"
                        [configDetails]="configDetails[pathsWithVersion[path]]">
                    </config-action-menu>
                </div>
            </clr-dropdown>
        </div>
        <div class="card-block">
            <p class="card-text" *ngIf="pathsWithVersion[path] && configDetails[pathsWithVersion[path]]">
                <b>Host</b>:&nbsp;{{configDetails[pathsWithVersion[path]].executive.host}}&nbsp;
                <b>Port</b>:&nbsp;<code>{{configDetails[pathsWithVersion[path]].executive.port}}</code>
                <config-fields [fields]="configDetails[pathsWithVersion[path]].fields"></config-fields>
            </p>
        </div>
    </div>
</div>
