<div class="main-container">
    <div class="content-container">
        <div class="content-area">

            <!-- header with back button -->
            <a class="back-link" href="#">
                <clr-icon shape="arrow left" size="36"></clr-icon>
                <span class="back-link-text">
                    Back to<br/>
                    overview
                </span>
            </a>
            <h2 class="header-text">
                {{path}}
                <span class="label label-info header-label">
                    v{{selectedVersion}}
                </span>
            </h2>
            <!-- end header -->

            <div class="row">
                <div class="col-lg-7">
                    <div class="editor-header">
                        <h3 class="editor-header-text">
                            Editor
                            <span
                                [hidden]="!(isEditorModeExpert$ | async)"
                                class="text-danger">
                                (expert mode)
                            </span>
                        </h3>

                        <div class="toggle-switch editor-mode-toggle">
                            <input id="editor_mode_toggle" type="checkbox"
                                   [checked]="isEditorModeExpert$ | async"
                                   (change)="switchMode()">
                            <label for="editor_mode_toggle">Expert mode</label>
                        </div>
                    </div>

                    <expert-editor
                        *ngIf="(isEditorModeExpert$ | async); else easyEditor"
                        [configDetails]="configDetails$ | async"
                        (preview)="showFinalXML($event)"
                        (submit)="submitXML($event)">
                    </expert-editor>

                    <ng-template #easyEditor>
                        <easy-editor
                            [configDetails]="configDetails$ | async"
                            (preview)="showXMLFromFields($event)"
                            (submit)="submitFields($event)">
                        </easy-editor>
                    </ng-template>
                </div>

                <div class="col-lg-5">
                    <history-table
                        [entries]="history$ | async"
                        [selectedVersion]="selectedVersion"
                        (loadOlder)="loadOlderHistory()"
                        (selectVersion)="selectVersion($event)">
                    </history-table>
                </div>
            </div>
        </div>
    </div>
</div>


<confirm-modal #confirmModal> </confirm-modal>

<preview-modal
    [state]="previewModal$ | async"
    (close)="closeModal('preview')">
</preview-modal>

<response-modal
    [state]="responseModal$ | async"
    (close)="closeModal('response')">
</response-modal>
